<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<%= current_user.name  %>

<div id="products">
  <% @products.each do |product| %>

  <%= image_tag product.image if  product.image.attached? %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
